<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
	<style>
		thead {color:green;}
		tbody {color:blue;}
		tfoot {color:red;}
	</style>
</head>

<div class="jumbotron">
	<h1>Fatura do Cartão de Crédito</h1>
</div>

<form th:action="@{/teste/executar}" th:method="post" th:object="${creditCardBill}">
	<fieldset>
		<legend>Cartão de Crédito</legend>

		<div class="form-group">
			<label class="control-label" th:for="numeroCartao"
				th:id="numeroCartaoLabel"> <span>Número do Cartão</span>
			</label>
			
			<input  type="text" 
	                class="form-control" 
	                id="numeroCartao"
	                th:field="*{creditCard.number}"/>
		</div>
		
		<div class="form-group">
            <label class="control-label" th:for="nomeCartao"
                th:id="nomeCartaoLabel"> <span>Nome do Cartão</span>
            </label>
            
            <input  type="text" 
                    class="form-control" 
                    id="nomeCartao"
                    th:field="*{creditCard.label}"/>
        </div>
        
        
        <div class="form-group">
            <label class="control-label" th:for="dataFechamentoFatura"
                th:id="dataFechamentoFaturaLabel"> <span>Data do Vencimento</span>
            </label>
            
            <input  type="text" 
                    class="form-control" 
                    id="dataFechamentoFatura"
                    th:value="${creditCardBill.closingDate != null ? #temporals.format(creditCardBill.closingDate, 'dd/MM/yyyy') : ''}"/>
        </div>
	</fieldset>

	<table class="table table-condensed table-bordered table-striped table-hover fixed-table">
		<thead>
			<tr>
				<th>DATA</th>
				<th>TIPO</th>
				<th>DECRICAO</th>
				<th>PARCELA</th>
				<th>LOCAL</th>
				<th>VALOR</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="entry : *{entries}">
				<td th:text="${#temporals.format(entry.date, 'dd/MM/yyyy')}"></td>
				<td th:text="${entry?.type}"></td>
				<td th:text="${entry?.description}"></td>
				<td th:text="${entry.portion != null ? (#numbers.formatInteger(entry.portion, 2) + '/' + #numbers.formatInteger(entry.portionQuant, 2)) : ''}"></td>
				<td th:text="${entry?.location}"></td>
				<td th:text="${#numbers.formatDecimal(entry.value, 2, 'POINT', 2, 'COMMA')}"></td>
			</tr>
		</tbody>
		
		<tfoot>
		  <tr>
		      <td>TOTAL</td>
		      <td/>
		      <td/>
		      <td/>
		      <td/>
		      <td th:text="*{amount}" />
		  </tr>
		</tfoot>
	</table>

	<button type="submit">TESTE</button>
</form>
</html>